#p-camera-h5 {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;
}
#p-camera-h5 video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
